/* for 980px or less */
@media screen and (max-width: 980px) {
	#container {
		width: 95%;
   } 
	#content {
		width: 65%;
	}
	#content1{
		width: 65%;
	}
	#ads{
		width: 55%;
	}
	#labi{
		width: 80%;
	}
}


/* for 768px or less */
@media screen and (max-width: 768px) {
	#header {
		height:120px;
	}
	#content {
		width: auto;
		float: none;
	}
    #content1 {
		width: auto;
		float: none;
	}
    #ads {
		width: auto;
		float: none;
	}
    #labi {
		width: top;
		float: none;
	}

}
/* for 480px or less */
@media screen and (max-width: 480px) {
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size:14px;
	}
	#header {
		height:90px;
	}
	#navcontainer ul li a {
		padding: 4px 8px;
	}
	#footer {
		font-size:10px;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: auto; /* ie8 */
}
