#container {
	width: 960px;
	margin: 0 auto;
}
#header {
	padding:0 15px;
	height:130px;
}
#header h1 {
	float:left;
	padding:15px 0;
}

#content {
	float:left;
	width:650px;
}
#content1 {
	float:left;
	width:650px;
	}
	
#labi {
	float:center;
	width:0px;

}
	
/*Main Menu*/
#navcontainer {
}
#navcontainer ul {
	padding:0;
	background-color: #dcdcdc;
	color: #666565;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}
#navcontainer ul li { 
	display: inline; 
}
#navcontainer ul li a {
	padding: 10px 20px;
	background-color: #dcdcdc;
	color: #666565;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}
#navcontainer ul li a:hover, #navcontainer #active a {
	background-color: #818d75;
	color: #fff;
}
